<DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="resources/css/stylesheet.css">
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
</head>
<body>
  <script src="resources/js/drawnetwork.js"></script>
</body>